<div class="container-fluid page_header">
    <div class="d-flex justify-content-between h-100 align-items-center">
        <div class="font-weight-bold" style="color: #CED0D2;">Miejski Ośrodek Kultury</div>

        <div *ngIf = "!authService.isLoggedIn()">
            <button [routerLink]="['/login']" class="btn btn-dark font-weight-bold"
                style="color: #CED0D2; font-size: 0.8vw;">Zaloguj się</button>
            <button [routerLink]="['/register']" class="btn btn-dark font-weight-bold"
                style="border-left: 2px dashed #CED0D2; color: #CED0D2; font-size: 0.8vw;">Zarejestruj się
            </button>
        </div>

        <div *ngIf = "authService.isLoggedIn()">
            <button [routerLink]="['/login']" class="btn btn-dark font-weight-bold"
                style="color: #CED0D2; font-size: 0.8vw;">Opcje</button>
            <button (click)="authService.logout()"  class="btn btn-dark font-weight-bold"
                style="border-left: 2px dashed #CED0D2; color: #CED0D2; font-size: 0.8vw;">Wyloguj się
            </button>
        </div>

    </div>
</div>