<div class="content_title">Nie pamiętasz hasła?</div>
<ul class='page_content list-group mb-5'>
    <li class=" list-group-item">

        <p class="mb-2 text-center">Podaj adres email wykorzystany podczas rejestracji. Zostanie na niego wysłany link do zresetowania hasła.</p>

        <form [formGroup]="forgotFormGroup" (ngSubmit)="onSubmit()">
            <label class="mt-3 font-weight-bold" for="email" name="email">Email</label>
            <input formControlName="email" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': forgotForm.email.touched && forgotForm.email.errors != null }" id="email"
                placeholder="Wprowadź swój email" required>

            <div *ngIf="forgotForm.email.errors != null" class="invalid-feedback">
                Email musi zostać podany w poprawnym formacie!
            </div>

            <button class="mt-3 btn btn-primary " type="submit">Przypomnij hasło</button>
        </form>
    </li>
</ul>