<div class="content_title mb-4">MOJE WYDARZENIA</div>

<div class="page_content mb-5">
    <div class="d-flex flex-wrap" *ngIf="affairList && affairList.length">
        <div class="card" style="width: 33.33%;" *ngFor="let affair of affairList">
            <img class="card-img-top" [src]="affair.pictureUrl" [alt]="affair.title" style="max-width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{affair.title}}</h5>
                <p class="card-text">{{affair.shortDescription}}</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button (click)="selectedAffairId=affair.id; deletingModal.openModal()" class="btn btn-danger">Wypisz się</button>
            </div>
        </div>
    </div>

    <div class="list-group-item" *ngIf="!affairList || !affairList.length">
        <h4 class="text-center text-muted">Nie zapisałeś się na żadne obecnie trwające wydarzenie</h4>
    </div>
</div>

<app-modal #deletingModal (okClicked)="delistFromAffair()" [modalTitle]='"UWAGA!"'>
    <p>Czy na pewno chcesz wypisać się z wydarzenia?</p>
</app-modal>