
<div class="content_title">KONTAKT</div>
<div class="content list-group-item">
    <label class="font-weight-bold" for="address">Adres:</label>
    <div id="address">
        <p>Kwitnąca 15</p>
        <p>05-230 Kobyłka</p>
    </div>

    <label class="font-weight-bold" for="phone">Telefon:</label>
    <div id="phone">
        <p>123 456 789</p>
    </div>

    <label class="font-weight-bold" for="email">Email:</label>
    <div id="email">
        <p>cultural.center.contact@gmail.com</p>
    </div>

    <label class="font-weight-bold" for="hours">Godziny otwarcia:</label>
    <div id="hours">
        <p>(PON - PT) 8:00 - 22:00</p>
        <p>SOB 8:00 - 16:00</p>
    </div>
</div>


<div class="content list-reset list-group-item" style="border-top: 1px solid rgba(0,0,0,.125);" >
    <p class="font-weight-bold text-center" style="font-size: 1.5vw;">Napisz do nas!</p>
    <form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="font-weight-bold" for="userEmail" name="userEmail">Email</label>
            <input formControlName="userEmail" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': contactForm.userEmail.touched && contactForm.userEmail.errors != null }" id="title"
                placeholder="Podaj swój adres email" required>

            <div *ngIf="contactForm.userEmail.touched && contactForm.userEmail.errors != null" class="invalid-feedback">
                Email musi zostać podany w poprawnym formacie!
            </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="subject" name="subject">Temat</label>
            <input formControlName="subject" type="subject" class="form-control"
                [ngClass]="{ 'is-invalid': contactForm.subject.touched && contactForm.subject.errors != null }" id="subject"
                placeholder="Podaj temat wiadomości" required>

            <div *ngIf="contactForm.subject.touched && contactForm.subject.errors != null" class="invalid-feedback">
                Temat musi być podany!
            </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="message" name="message">Wiadomość</label>
            <textarea formControlName="message" type="number" class="form-control" rows="8" id="message"
            placeholder="Wprowadź ilość wolnych miejsc"
            [ngClass]="{ 'is-invalid': contactForm.message.touched && contactForm.message.errors != null }"
            min="1"></textarea> 

            <div *ngIf="contactForm.message.touched && contactForm.message.errors != null" class="invalid-feedback">
                Wiadomość nie może być pusta!
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" style="width: 10vw;">Wyślij!</button>
        </div>
    </form>

</div>