<div class="content_title mb-4">KONKURSY</div>

<div class="page_content mb-5">
    <div class="d-flex justify-content-between flex-wrap" *ngIf="competitionList && competitionList.length">
        <div class="card bg-dark" style="width: 33.33%;" *ngFor="let competition of competitionList">
            <a [routerLink]="['/competitions', competition.id]" style="max-width: 100%; height: 100%;">
                <img class="card-img-top" [src]="competition.pictureUrl" [alt]="competition.title" style="max-width: 100%;">
                <div class="card-body p-0 h-100">
                    <a class="btn btn-dark font-weight-bold"
                        style="width: 100%; margin: auto;">{{competition.title | uppercase }}</a>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="page_content list-group-item" *ngIf="!competitionList || !competitionList.length">
    <p style="font-size: 1.2vw;" class="text-center text-muted m-auto font-weight-bold">BRAK KONKURSÓW!</p>
</div>

<div class="d-flex justify-content-center mt-5">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" (pageChange)="loadCompetitionsPage()"
      [collectionSize]="collectionSize"></ngb-pagination>
  </div>